<a href="https://colab.research.google.com/github/Arifeenhamim/Python-Practic-Basic-/blob/main/M_0C_basic_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Programming basics in python

### Numbers (int & float)

In [ ]:
x = 5
print(type(x)) # Prints "<class 'int'>"
print(x)       # Prints "3"
print('addintion',x + 1)   # Addition; prints "4"
print('Subtraction=',x - 1)   # Subtraction; prints "2"
print('Multiplication=',x * 2)   # Multiplication; prints "6"
print('Exponentiation=',x ** 2)  # Exponentiation; prints "9" squre hisab a kaj korte ase

x += 1
print("this =",x)  # Prints " "

x-= 1
print('hello',x)

x *= 2
print(x)  # Prints " "

y = 2.5
print(type(y)) # Prints "<class 'float'>"
print(y, y + 1, y * 2, y ** 2) # Prints "2.5 3.5 5.0 6.25"

<class 'int'>
5
addintion 6
Subtraction= 4
Multiplication= 10
Exponentiation= 25
this = 6
hello 5
10
<class 'float'>
2.5 3.5 5.0 6.25

### Booleans

In [ ]:
# ai part tah buja lakbe

t = True
f = False
print(type(t)) # Prints "<class 'bool'>"
print(t and f) # Logical AND; prints "False"
print(t or f)  # Logical OR; prints "True"
print(not t)   # Logical NOT; prints "False"
print(t != f)  # Logical XOR; prints "True"

<class 'bool'>
False
True
False
True

### String

In [ ]:
print("Hello World")

Hello World

In [ ]:
print('Hello World')

Hello World

In [ ]:
print("""
Print Hello this is hamim
How are u
We are printing Multiple
Lines
""")

Print
Multiple
Lines

In [ ]:
a = 10
print(f'The value of a is {a}')   # f dara ki mean kora hoise

The value of a is 10

In [ ]:
a = 10
print(f'The value of a plus 5 is {a+5}')

The value of a plus 5 is 15

In [ ]:
a = 5

print('a is',a)     # why using f here 

print(f'a is {a}') # Preferred method for this course.
print('a is {}'.format(a))
print('a is ' + str(a))
print('a is %d %d' % (a, a))

a is 5
a is 5
a is 5
a is 5 5

### Condition checking

In [ ]:

a = 5
b = 6

if a==5:
    print('The variable a is 5')
    if b==6:
        print('The variable b is also 6')
elif a==6:
    print('The variable a is 6')
else:
    print('anything')



# extra practice

x=40
y=45

if x==40:
        print('x=6 here')
        if y==45:
         print('x is alos 45 ')
elif x==40:
        print('x== also 40')
else:
        print("nothing")

The variable a is 5
The variable b is also 6

### Looping

In [ ]:
for x in range(0, 15):  # If you ever see xrange, you are in Python 2
    print(x)


for y in range(100,500,50):
    print(y)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
100
150
200
250
300
350
400
450

In [ ]:
for i in range(10,1,-1):
    # range(start (optional, default 0), end (exclusive), inc/dec (optional, default 1))
    print('test: ', i)



for a in range(800,100,-50):
    print("this is a practice ",a)

test:  10
test:  9
test:  8
test:  7
test:  6
test:  5
test:  4
test:  3
test:  2

In [ ]:
acc = 0
for x in range(1, 20):
    print(f"{acc} + {x} =  ", end="")
    acc += x
    print(acc)

print(f"Final sum: {acc}")

0 + 1 =  1
1 + 2 =  3
3 + 3 =  6
6 + 4 =  10
10 + 5 =  15
15 + 6 =  21
21 + 7 =  28
28 + 8 =  36
36 + 9 =  45
45 + 10 =  55
55 + 11 =  66
66 + 12 =  78
78 + 13 =  91
91 + 14 =  105
105 + 15 =  120
120 + 16 =  136
136 + 17 =  153
153 + 18 =  171
171 + 19 =  190
Final sum: 190