<a href="https://colab.research.google.com/github/Arifeenhamim/Python-Practice-Basic-/blob/main/M_0D_collections.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Lists, Tuples, Dictionaries, & Sets

### List

- items are stored sequentially
- Lists are mutable
- can hold on to different data types
- use square brackets [] to create a list
    

### Tuple
- ordered list of values
- immutable
- in many ways, it is simillar to a list; one of the most important difference is that tuples can be used as  KEYs in a dictionary or elements of a SET.
- use () to create a tuple
    
For a Python program, lists and tuples are very similar. It is possible to get by as a programmer using only lists and ignoring tuples. Both lists and tuples hold an ordered collection of items.

The primary difference that you will see syntactically is that a list is enclosed by square braces [] and a tuple is enclosed by parenthesis (). The following code defines both list and tuple.

In [ ]:
# extra practice of list ,tuple and set 
#set {} , tuple(), lsit[]


a=['1','2','3']
b=('x','y','z')
c={"hello","hamim","arifeen"}


print(a,type(a))
print(b,type(b))
print(c,type(c))

['1', '2', '3'] <class 'list'>
('x', 'y', 'z') <class 'tuple'>
{'hamim', 'arifeen', 'hello'} <class 'set'>

In [ ]:
"hello" in c

True

In [ ]:
l = ['a', 'b', 1, 2]  # list
t = ( 3.3, 4.7, 'c', 'd')  #tuple  d=-1, c=-2, 4.7= -3, 3.3=-4

print(l)
print(t)

['a', 'b', 1, 2]
(3.3, 4.7, 'c', 'd')

In [ ]:
print(l[2], t[1], t[-3],t[-4])

1 4.7 4.7 3.3

In [ ]:
for i in t:
    print(i)

3.3
4.7
c
d

In [ ]:
# problem

for i,v in enumerate(l):
    print(f"{i}:{v}")

0:a
1:b
2:1
3:2

In [ ]:
c = []
c.append('a')
c.append('b')
c.append('c')
c.append('c')
print(c)

['a', 'b', 'c', 'c']

In [ ]:
# Insert
c = ['a', 'b', 'c', 'b']
print(c)
c.insert(0, 'a0')  # 0 no position a a0 insert/add koro
print(c)
# Remove
c.remove('b')
print(c)

# Remove at index

del c[1]
print(c)

['a', 'b', 'c', 'b']
['a0', 'a', 'b', 'c', 'b']
['a0', 'a', 'c', 'b']
['a0', 'c', 'b']

In [ ]:
a=['a','4','45']
print(a)
a.insert(2,'65')  # 3 no position a 45 a jaigai 65 insert kora hoilo
print(a)

a.remove('4')
print(a)

del a[1]
print(a)

['a', '4', '45']
['a', '4', '65', '45']
['a', '65', '45']
['a', '45']

In [ ]:
listOfLists = [
    ['a','b','c'],        #0
    [1,2,3,4,5,6,7,8],    #1
    ['One','Two']         #2
]
print(listOfLists)

[['a', 'b', 'c'], [1, 2, 3, 4, 5, 6, 7, 8], ['One', 'Two']]

In [ ]:
print(listOfLists[2][0])

One

### Sets

A Python set holds an unordered collection of objects, but sets do not allow duplicates. If a program adds a duplicate item to a set, only one copy of each item remains in the collection. Adding a duplicate item to a set does not result in an error. Any of the following techniques will define a set.

A list is always enclosed in square braces [], a tuple in parenthesis (), and now we see that the programmer encloses a set in curly braces. Programs can add items to a set as they run. Programs can dynamically add items to a set with the add function. It is important to note that the append function adds items to lists and tuples, whereas the add function adds items to a set.

In [ ]:
depts = {"MBA","EEE","BBA","ARCHI"}
print(depts, type(depts))

{'EEE', 'BBA', 'MBA', 'ARCHI'} <class 'set'>

In [ ]:
depts.add("CS")
print(depts)

{'EEE', 'MBA', 'CS', 'BBA', 'ARCHI'}

In [ ]:
depts.remove("ARCHI")
print(depts)

{'EEE', 'MBA', 'CS', 'BBA'}

In [ ]:
"CS" in depts

True

In [ ]:
"ARCHI" in depts

False

### Maps/Dictionaries/Hash Tables

Many programming languages include the concept of a map, dictionary, or hash table. These are all very related concepts. Python provides a dictionary, that is essentially a collection of name-value pairs. Programs define dictionaries using curly-braces, as seen here.

In [ ]:
std = {'mahedi': 93.77, 'rabbi': 94.00, 'ahsan': 92.5}
print(std, type(std))

{'mahedi': 93.77, 'rabbi': 94.0, 'ahsan': 92.5} <class 'dict'>

In [ ]:
print(std['rabbi'])

94.0

In [ ]:
std.get('mahedi', 'default')

93.77

In [ ]:
print(f"Key: {std.keys()}")

Key: dict_keys(['mahedi', 'rabbi', 'ahsan'])

In [ ]:
print(f"Values: {std.values()}")

Values: dict_values([93.77, 94.0, 92.5])

In [ ]:
d = {'person': 2, 'cat': 4, 'dog': 4, 'spider': 8}
for obs in d:
    print(obs)

person
cat
dog
spider

In [ ]:
for obs in d:
    legs = d[obs]
    print('A %s has %d legs' % (obs, legs))

A person has 2 legs
A cat has 4 legs
A dog has 4 legs
A spider has 8 legs

In [ ]:
for obs,legs in d.items():
    print('A %s has %d legs' % (obs, legs))

A person has 2 legs
A cat has 4 legs
A dog has 4 legs
A spider has 8 legs

### Advanced operations

In [ ]:
a = [1,2,3,4,5,6]
print(a[0:3]) # slicing operator
print(a[:2])  # 2  porjonto ja ase
print(a[3:])  # 3 r por ja ase
print(a[:-1])
print(a[2:-1]) # 1 dia 2 and last dia -2
print(a[1:-1])
print(a[2:-2])

[1, 2, 3]
[1, 2]
[4, 5, 6]
[1, 2, 3, 4, 5]
[3, 4, 5]
[2, 3, 4, 5]
[3, 4]

In [ ]:
a = [1,2,3,4,5]
b = [5,4,3,2,1]

print(zip(a,b))   
print(list(zip(a,b)))

<zip object at 0x0000016FF8588DC0>
[(1, 5), (2, 4), (3, 3), (4, 2), (5, 1)]

zip r ki kaj ***8

In [ ]:
for x,y in zip(a,b):
    print(f'{x} - {y} ==> {x-y}')

1 - 5 ==> -4
2 - 4 ==> -2
3 - 3 ==> 0
4 - 2 ==> 2
5 - 1 ==> 4

In [ ]:
a = [1,2,3,4,5]
b = [5,4,3]

print(list(zip(a,b)))

[(1, 5), (2, 4), (3, 3)]

In [ ]:
arr1 = [0,1,2,3,4,5,6,7,8,9]
arr2 = []
# avoid doing this !!!!
for a in arr1:
    arr2.append(a**2)
print(arr2)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### List Comprehension

In [ ]:
arr1 = [0,1,2,3,4,5,6,7,8,9]
arr1_copy = [i for i in arr1]
print(arr1_copy)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
sq = [a**2 for a in arr1]
print(sq)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
sq_even = [x**2 for x in arr1 if x%2 == 0]
print(sq_even)

[0, 4, 16, 36, 64]

In [ ]:
d = {(a,a): (a,a**2) for a in range(10)}
print(d)

{(0, 0): (0, 0), (1, 1): (1, 1), (2, 2): (2, 4), (3, 3): (3, 9), (4, 4): (4, 16), (5, 5): (5, 25), (6, 6): (6, 36), (7, 7): (7, 49), (8, 8): (8, 64), (9, 9): (9, 81)}

In [ ]:
print(d[(5,5)])

(5, 25)